@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* .main-page {
    background: url('/main-bg.jpg') no-repeat;
    background-size: cover;
    background-color: rgb(0,0,0,0.2);
  } */
}
